<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="TeamManagmentEntities" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1433;initial catalog=TeamManagment;user id=sa;password=6124FRgs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>